.nav {
  display: flex;
  height: 70px;
  border-bottom: solid;
}

.nav article {
  /* border: solid; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav article:first-child {
  flex-basis: 10%;
}

.nav article:nth-child(2) {
  flex-basis: 50%;
}
.nav article:nth-child(3) {
  flex-basis: 40%;
}

.nav ul {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}
